.button {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  padding: 10px 0;
  font: normal 16px/20px @font-oswald;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: @white;
  background-color: @bg-green;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: @bg-darkgreen;
    transition: 0.4s;
  }

  &:active {
    color: @lightgreen;
    transition: 0.4s;
  }
}
