.catalog-gift {
  width: 280px;
  height: 300px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 35px;
  background: @bg-green url("../img/gift-photo-mobile@1x.jpg") border-box no-repeat center / 280px 300px;
}

.catalog-gift__text {
  position: relative;
  max-width: 70%;
  margin: 0 auto;
  padding-top: 195px;
  font: normal 16px/20px @font-arial;
  text-align: center;
  color: @white;

  &::before {
    content: "";
    position: absolute;
    top: 70px;
    left: 37%;
    width: 56px;
    height: 61px;
    background: url("../img/icon-gift.svg") no-repeat center;
  }
}
