.catalog-more {
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    right: -20px;
    bottom: 205px;
    left: -20px;
    height: 1px;
    background: @bg-lightgrey;
  }

  &::after {
    bottom: -10px;
  }
}

.catalog-more__title {
  margin-top: 108px;
  margin-bottom: 0;
  font: normal 16px/20px @font-oswald;
  text-align: center;
  text-transform: uppercase;
  color: @black;
}

.catalog-more__plus::before {
  content: "";
  position: absolute;
  top: -55px;
  left: 50%;
  width: 31px;
  height: 31px;
  margin-left: -15px;
  background: url("../img/icon-plus-mobile.svg") no-repeat;
  opacity: 0.2;
}

.catalog-more__text {
  margin-bottom: 25px;
  font: normal 12px/16px @font-arial;
  text-align: center;
}

.catalog-more__button {
  margin-bottom: 13px;
}
