.catalog-addicional {
  overflow: hidden;
}

.catalog-addicional__title {
  position: relative;
  max-width: 230px;
  padding-right: 28px;
  margin-bottom: 32px;
  font: normal 24px/24px @font-oswald;
  text-align: left;
  color: @black;
  background-color: @white;

  &::after {
    .green-line();
  }
}

.catalog-addicional__list {
  .list-reset();
}

.catalog-addicional__item {
  padding-bottom: 15px;
  border-bottom: @b-grey;

  &:first-child {
    border-top: @b-grey;
  }
}

.catalog-addicional__good-title {
  display: block;
  margin: 9px 0 7px;
  padding: 5px 0;
  font: normal 16px/16px @font-oswald;
  color: @darkbrown;
  text-align: left;
  text-transform: uppercase;
}

.catalog-addicional__table {
  width: 100%;
  margin-bottom: 13px;
  font: normal 14px/18px @font-arial;
  text-align: left;
  color: @grey;
  border-spacing: 0 2px;
  border-collapse: collapse;
}

.catalog-addicional__cell:nth-child(2n) {
  text-align: right;
}

@media (min-width: @width-tablet) {
  .catalog-addicional__title {
    max-width: 340px;
    margin-top: 0;
    margin-bottom: 80px;
    padding-right: 37px;
    padding-left: 37px;
    font: normal 36px/36px @font-oswald;

    &::before {
      .green-line();
      right: 100%;
    }
  }

  .catalog-addicional__item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 38px 25px;
    border-right: @b-light;
    border-bottom: @b-light;
    border-left: @b-light;

    &:first-child {
      border-top: @b-light;
    }
  }

  .catalog-addicional__good-title {
    width: 50%;
    margin: 20px 0;
    font: normal 20px/20px @font-oswald;
  }

  .catalog-addicional__table {
    width: 50%;
    margin-top: 30px;
    margin-bottom: 23px;
    margin-left: auto;
    font: normal 16px/20px @font-arial;
    text-align: right;
    color: @grey;
  }

  .catalog-addicional__cell:nth-child(2n) {
    width: 30%;
    text-align: right;
  }

  .catalog-addicional__button {
    flex-grow: 1;
  }
}

@media (min-width: @width-desktop) {
  .catalog-addicional__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    margin-bottom: 85px;
  }

  .catalog-addicional__title {
    padding-right: 40px;
    padding-left: 40px;
    margin-left: -40px;
  }

  .catalog-addicional__item {
    width: 895px;
    padding: 0;
    border-right: none;
    border-left: none;
  }

  .catalog-addicional__good-title {
    width: 298px;
    margin-right: 14px;
    padding-right: 15px;
    font: normal 20px/20px @font-oswald;
  }

  .catalog-addicional__table {
    width: 36%;
    margin: 26px 0;
  }

  .catalog-addicional__cell:nth-child(n) {
    width: 227px;
    padding-right: 15px;
    text-align: left;
  }

  .catalog-addicional__cell:nth-child(2n) {
    width: 65px;
    padding-right: 15px;
  }

  .catalog-addicional__button {
    flex-grow: 0;
    width: 245px;
    margin: 16px 0;
  }
}
