.catalog-addicional {
  overflow: hidden;
}

.catalog-addicional__title {
  position: relative;
  max-width: 230px;
  padding-right: 28px;
  margin-bottom: 32px;
  font: normal 24px/24px @font-oswald;
  text-align: left;
  color: @black;
  background-color: @white;

  &::after {
    .green-line();
  }
}

.catalog-addicional__wrapper {
  max-width: 100%;
}

.catalog-addicional__list {
  .list-reset();
}

.catalog-addicional__item {
  padding-bottom: 19px;
  border-bottom: @b-grey;

  &:first-child {
    border-top: @b-grey;
  }
}

.catalog-addicional__good-title {
  margin-bottom: 10px;
  font: normal 16px/16px @font-oswald;
  color: @darkgrey;
  text-align: left;
  text-transform: uppercase;
}

.catalog-addicional__table {
  width: 100%;
  margin-bottom: 15px;
  font: normal 14px/18px @font-arial;
  text-align: left;
  color: #444444;
  border-spacing: 0 2px;
  border-collapse: collapse;
}

.catalog-addicional__cell:nth-child(2n) {
  text-align: right;
}
