.example {
  background: @bg-grey;
}

.example__wrapper {
  padding-top: 10px;
  padding-bottom: 10px;
}

.example__title {
  margin-top: 20px;
  font: normal 36px/60px @font-oswald;
  text-align: left;
  color: @black;
}

.example__description {
  width: 100%;
  font: normal 14px/18px @font-arial;
  text-align: left;
  color: @grey;
}

.example__table {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 50px;
}

.example__row {
  flex-grow: 1;
  text-align: center;
  border-radius: 3px;

  &:first-child {
     margin-right: 30px;
  }
}

.example__result {
  padding: 17px 10px;
  font: normal 24px/24px @font-oswald;
  text-align: center;
  text-transform: uppercase;
  border: @b-light;
}

.example__text {
  max-width: 80px;
  padding: 0 10px;
  margin: 0 auto;
  font: normal 12px/12px @font-arial;
  text-align: center;
  color: @black;
  background-color: @bg-grey;
  transform: translateY(-8px);
}

.example__information {
  margin: 30px;
  font: normal 14px/20px @font-oswald;
  text-align: center;
  text-transform: uppercase;
  color: @black;
}
