.form {
  margin-bottom: 35px;
}

.form__title {
  margin-bottom: 40px;
}

.form__title-slogan {
  margin-bottom: 25px;
}

.form__item {
  .fieldset-reset();
  box-sizing: border-box;
  width: auto;

  &--programs {
    margin-right: -20px;
    margin-bottom: 20px;
    margin-left: -20px;
    padding-left: 20px;
    border-top: @b-light;
    border-bottom: @b-light;
  }

  &--contacts {
    margin-bottom: -5px;
  }

  &--comment {
    margin-bottom: 15px;
  }

  &--addicional {
    margin-bottom: 15px;
  }
}

.form__item-wrapper {
  margin-top: 12px;
  padding-top: 5px;
  padding-bottom: 10px;
}

.form__item-title {
  position: relative;
  display: block;
  margin-top: 10px;
  padding-right: 30px;
  padding-bottom: 20px;
  font: normal 24px/24px @font-oswald;
  text-align: left;
  color: @darkbrown;
  background-color: @white;

  &::after {
    .green-line();
  }
}

.form__item-content {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  max-width: 100%;
  margin-bottom: 14px;
}

.form__item--programs .form__item-content {
  margin-top: 5px;
  margin-bottom: 14px;
}

.form__item--addicional .form__item-content {
  margin-bottom: 12px;
}

.form__label {
  display: block;
  flex-shrink: 0;
  margin-right: 16px;
  padding-top: 7px;
  padding-bottom: 7px;
  font: normal 16px/18px @font-oswald;
  text-align: left;
  text-transform: uppercase;
  color: @darkbrown;
  transition: 0.3s;

  &--radio {
    position: relative;
    width: 80%;
    padding-top: 5px;
    padding-left: 45px;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 28px;
      height: 28px;
      border: @b-light;
      border-radius: 50%;
      background-color: @bg-white;
    }

    &:hover::before {
      border: @b-grey;
    }

    &:active {
      opacity: 0.3;
    }
  }

  &--checkbox {
    position: relative;
    width: 80%;
    padding-left: 45px;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 30px;
      height: 30px;
      border: @b-light;
      background-color: @bg-white;
    }

    &:hover::before {
      border: @b-grey;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

.form__input-wrapper {
  position: relative;
  width: 100%;
}

.form__input {
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  padding: 13px 15px;
  font: normal 16px/24px @font-oswald;
  text-transform: uppercase;
  color: @darkbrown;
  border: @b-light;
  outline: none;
  box-shadow: none;

  &--radio {
    display: none;

    &:checked + .form__label--radio::after {
      content: "";
      position: absolute;
      top: 9px;
      left: 9px;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: @bg-green;
    }
  }

  &--checkbox {
    display: none;

    &:checked + .form__label--checkbox::after {
      content: "";
      position: absolute;
      top: 5px;
      left: 11px;
      width: 9px;
      height: 18px;
      border-right: @b-green;
      border-bottom: @b-green;
      background-color: @white;
      transform: rotate(45deg);
    }
  }

  &--textarea {
    height: 154px;
    margin-top: 20px;
    margin-left: 0;
    padding: 12px;
    padding-right: 10px;
    resize: none;
  }

  &::placeholder {
    color: @grey;
    opacity: 1;
  }

  &:hover {
    border: @b-grey;
  }

  &:focus {
    border: @b-darkbrown;
    outline: none;
  }

  &:focus:invalid {
    border: @b-pink;
  }
}

.form__item--contacts .form__input {
  padding-right: 40px;
}

.form__icon {
  &--email {
    position: absolute;
    top: 35%;
    right: 20px;
    width: 17px;
    height: 13px;
  }

  &--phone {
    position: absolute;
    top: 30%;
    right: 16px;
    width: 20px;
    height: 20px;
  }
}

.form__input:hover + .form__icon--email,
.form__input:hover + .form__icon--phone {
  fill: @bg-green;
}

.form__input:focus:invalid + .form__icon--email,
.form__input:focus:invalid + .form__icon--phone {
  fill: @bg-pink;
}

.form__button {
  margin: 10px auto 20px;
  font-size: 16px;
}

.form__fields-description {
  font: normal 14px/16px @font-arial;
  text-align: center;
  color: @grey;
  margin-bottom: 15px;
}

@media (min-width: @width-tablet) {
  .form {
    margin-bottom: 75px;
  }

  .form__title {
    margin-top: 10px;
    margin-bottom: 53px;
  }

  .form__title-slogan {
    margin-bottom: 65px;
    margin-left: 40px;
  }

  .form__item-wrapper {
    margin: 0;
    padding: 0;
  }

  .form__item--contacts .form__item-wrapper,
  .form__item--addicional .form__item-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form__item--addicional .form__item-wrapper {
    justify-content: flex-start;
  }

  .form__item {
    margin-bottom: 55px;
    padding: 0 40px;

    &--programs {
      border: @b-light;
      border-top: @b-light;
      margin-left: 40px;
      margin-right: 40px;
      margin-bottom: 78px;
      padding: 20px 30px 10px;
    }

    &--contacts {
      margin-bottom: 45px;
    }

    &--comment {
      margin-bottom: 45px;
    }

    &--addicional {
      margin-bottom: 20px;
    }
  }

  .form__item-title {
    margin-bottom: 55px;
    margin-left: -40px;
    padding-right: 40px;
    padding-left: 40px;
    font: normal 36px/36px @font-oswald;

    &::before {
      .green-line();
      right: 100%;
    }
  }

  .form__item-title br {
    display: none;
  }

  .form__item--addicional .form__item-title {
    margin-bottom: 37px;
  }

  .form__item-content {
    width: 100%;
    margin-bottom: 16px;
  }


  .form__item--programs .form__item-content {
    margin-top: 4px;
    margin-bottom: 13px;
  }

  .form__item--addicional .form__item-content {
    width: calc(50% - 30px);
    margin-right: 60px;
    margin-bottom: 33px;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  .form__label {
    padding-top: 10px;
    padding-bottom: 10px;
    font: normal 20px/20px @font-oswald;

    &--radio {
      padding-left: 58px;

      &::before {
        width: 38px;
        height: 38px;
      }
    }

    &--checkbox {
      padding-left: 60px;

      &::before {
        width: 38px;
        height: 38px;
      }
    }
  }

  .form__input {
    height: 54px;
    font: normal 20px/30px @font-oswald;

    &--radio {
      &:checked + .form__label--radio::after {
        top: 11px;
        left: 11px;
        width: 18px;
        height: 18px;
      }
    }

    &--checkbox {
      &:checked + .form__label--checkbox::after {
        left: 13px;
        width: 12px;
        height: 20px;
      }
    }

    &--textarea {
      height: 172px;
      margin: 0;
      margin-bottom: 20px;
      padding: 15px;
    }
  }

  .form__button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .form__button {
    flex-grow: 1;
    flex-shrink: 0;
    width: 40%;
    margin: 0;
    margin-right: 60px;
    margin-left: 40px;
    padding: 15px 0;
    font-size: 20px;
  }

  .form__fields-description {
    width: 50%;
    font: normal 16px/16px @font-arial;
    text-align: left;
  }
}

@media (min-width: @width-desktop) {
  .form {
    margin-bottom: 85px;
  }

  .form__title {
    margin-top: 40px;
  }

  .form__title-slogan {
    margin-bottom: 67px;
    margin-left: 0;
  }

  .form__fields {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .form__item {
    width: 100%;
    margin-bottom: 48px;
    padding: 0;

    &--name {
      width: 570px;
      margin-right: 80px;
    }

    &--programs {
      width: 570px;
      margin: 0;
      margin-bottom: 65px;
      padding: 20px 30px 10px;
      border: @b-light;
      border-top: @b-light;
    }

    &--addicional {
      margin-bottom: 25px;
    }
  }

  .form__item--contacts .form__item-content {
    width: 570px;
    margin-bottom: 20px;
    margin-right: 80px;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  .form__item--addicional .form__item-content {
    width: 20%;
    margin-right: 80px;

    &:nth-child(2n) {
      margin-right: 80px;
    }

    &:nth-child(4n) {
      margin-right: 0;
    }
  }

  .form__button-wrapper {
    width: 100%;
  }

  .form__button {
    margin: 0;
    margin-right: 80px;
  }

  .form__fields-description {
    width: 570px;
    margin-top: 15px;
  }
}
