.form {
  margin-bottom: 20px;
  overflow: hidden;
}

.form__title {
  margin-top: 0;
  margin-bottom: 40px;
}

.form__item {
  width: auto;
  margin: 0;
  padding: 0;
  border: none;

  &--border {
    border-bottom: @b-light;
    border-top: @b-light;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 10px;
    padding-left: 20px;
  }
}

.form__item-wrapper {
  margin-top: 20px;
  padding-top: 5px;
  padding-bottom: 10px;
}

.form__item-title {
  position: relative;
  display: block;
  margin-top: 10px;
  padding-right: 30px;
  padding-bottom: 15px;
  font: normal 24px/24px @font-oswald;
  text-align: left;
  color: @darkgrey;
  background-color: @white;

  &::after {
    .green-line();
  }
}

.form__item-content {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 14px;
}

.form__label {
  display: inline-block;
  flex-shrink: 0;
  margin-right: 15px;
  padding-top: 7px;
  padding-bottom: 7px;
  font: normal 16px/18px @font-oswald;
  text-align: left;
  text-transform: uppercase;
  color: @darkgrey;
  white-space: nowrap;
  cursor: pointer;
}

.form__input-wrapper {
  position: relative;
  width: 100%;
}

.form__input {
  box-sizing: border-box;
  width: 100%;
  height: 46px;
  padding: 13px 15px;
  font: normal 16px/18px @font-oswald;
  text-transform: uppercase;
  color: @darkgrey;
  border: @b-light;
  outline: none;
  box-shadow: none;

  &--padding {
   padding-right: 40px;
  }

  &::placeholder {
    color: @grey;
    opacity: 1;
  }

  &:hover {
    border: @b-grey;
  }

  &:focus {
    border: @b-darkgrey;
    outline: none;
  }

  &:focus:invalid {
    border: @b-red;
  }
}

.form__label--radio {
  position: relative;
  display: inline-block;
  padding-left: 45px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 28px;
    height: 28px;
    border: @b-light;
    border-radius: 50%;
    background-color: @bg-white;
  }

  &:hover::before {
    border: @b-grey;
  }

  &:active {
    opacity: 0.3;
  }
}

.form__input--radio {
  display: none;

  &:checked + .form__label--radio::after {
    content: "";
    position: absolute;
    top: 9px;
    left: 9px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: @bg-green;
  }
}

.form__icon {
  &--email {
    position: absolute;
    top: 35%;
    right: 20px;
    width: 17px;
    height: 13px
}

  &--phone {
    display: block;
    position: absolute;
    top: 30%;
    right: 16px;
    width: 20px;
    height: 20px;
  }
}

.form__input:hover + .form__icon--email {
  fill: @bg-green;
}

.form__input:hover + .form__icon--phone {
  fill: @bg-green;
}

.form__input:focus:invalid + .form__icon--email {
  fill: @bg-red;
}

.form__input:focus:invalid + .form__icon--phone {
  fill: @bg-red;
}

.form__input--textarea {
  box-sizing: border-box;
  height: 154px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 0;
  padding: 12px;
  padding-right: 10px;
  resize: none;
}

.form__label--checkbox {
  position: relative;
  display: inline-block;
  padding-left: 45px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border: @b-light;
    background-color: @bg-white;
  }

  &:hover::before {
    border: @b-grey;
  }

  &:active {
    opacity: 0.3;
  }
}

.form__input--checkbox {
  display: none;

  &:checked + .form__label--checkbox::after {
    content: "";
    position: absolute;
    top: 6px;
    left: 6px;
    width: 18px;
    height: 13px;
    border-bottom: @b-green;
    border-right: @b-green;
    background-color: @white;
    transform: rotate(45deg);
  }
}

.form__button-wrapper {
  margin: 0;
  margin-bottom: 15px;
}

.form__button {
  margin: auto;
  margin-top: 10px;
  font-size: 14px;
  color: @white;
  background-color: @bg-green;
}

.form__fields-description {
  margin-top: 20px;
  font: normal 14px/16px @font-arial;
  text-align: center;
  color: @grey;
}
