.main-navigation {
  width: auto;
  margin: 0 auto;
}

.main-navigation__list {
  display: none;

  &--opened,
  &--nojs {
    .list-reset();
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

.main-navigation__item {
  padding: 24px 20px;
  margin-left: -20px;
  margin-right: -20px;
  text-align: center;
  border-top: @b-light;
}

.main-navigation__item-link {
  display: block;
  font: bold 20px/20px @font-oswald;
  text-transform: uppercase;
  color: @black;
  transition: 0.4s;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &--active {
    &:hover,
    &:active {
      opacity: 1;
    }
  }
}

@media (max-width: @width-mobile-only) {
  .main-navigation__toggle {
    position: absolute;
    display: block;
    top: 8px;
    right: 21px;
    width: 26px;
    height: 26px;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
    z-index: 100;

    &--nojs {
      display: none;
    }
  }

  .main-navigation__toggle span {
    position: absolute;
    display: block;
    top: 12px;
    right: 1px;
    width: 24px;
    height: 2px;
    background-color: @bg-black;

    &::before,
    &::after {
      content: "";
      position: absolute;
      right: 0;
      width: 100%;
      height: 2px;
      background-color: @bg-black;
      transition: 0.2s ease-out 0.4s, transform 0.2s ease-out;
      cursor: pointer;
    }

    &::before {
      top: 8px;
    }

    &::after {
      top: -8px;
    }
  }

  .main-navigation__toggle--closed span {
    background-color: transparent;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 2px;
      background-color: @bg-black;
      transition: 0.2s ease-out, transform 0.2s ease-out 0.4s;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}
