.page-footer {
  background-color: @bg-light;
}

.page-footer__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page-footer__logo {
  margin: 0 auto;
  padding-top: 53px;
  padding-bottom: 34px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  &:not([href]) {
    opacity: 1;
  }
}

.page-footer__logo-image {
  display: block;
  width: 128px;
  height: 24px;
}

@media (min-width: @width-tablet) {
  .page-footer__container {
    flex-direction: row;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .page-footer__logo {
    margin: 0;
    padding: 0;
  }
}
