.page-main {
  min-width: 320px;
  border-top: @b-light;
}

.page-main__title {
  max-width: 280px;
  padding-top: 25px;
  font: normal 36px/38px @font-oswald;
  text-align: left;
  color: @black;

  &--color {
    text-align: center;
    color: @white;
  }
}

.page-main__subtitle {
  width: auto;
  font: normal 14px/18px @font-oswald;
  text-align: left;
  text-transform: uppercase;
  color: @black;

  &--color {
    text-align: center;
    color: @white;
  }
}
