.page-header {
  position: relative;
  min-height: 52px;
}

.page-header__logo {
  display: block;
  width: 260px;
  height: 38px;
  margin: 22px;
  margin-bottom: 18px;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-header__logo-image {
  width: 191px;
  height: 38px;
}
