.page-header {
  position: relative;
}

.page-header__logo {
  display: block;
  width: 260px;
  height: 38px;
  margin-top: 14px;
  margin-bottom: 15px;
  margin-left: 2px;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-header__logo-image {
  width: 191px;
  height: 38px;
}
