.page-main {
  min-width: 320px;
  border-top: @b-light;
}

.page-main__title {
  width: 280px;
  padding-top: 25px;
  font: normal 36px/38px @font-oswald;
  text-align: left;
  color: @black;
}

.page-main__subtitle {
  width: 280px;
  font: normal 14px/18px @font-oswald;
  text-align: left;
  text-transform: uppercase;
  color: @black;
}
