.programs {
  margin-bottom: -10px;
}

.programs__item {
  margin-bottom: 20px;
  padding: 20px;
  padding-top: 8px;
  background-color: @bg-grey;
}

.programs__title {
  position: relative;
  padding-left: 75px;
  padding-bottom: 10px;
  font: normal 24px/37px @font-oswald;
  text-transform: uppercase;
  text-align: left;
  color: @darkgrey;

  &::before {
    content: "";
    position: absolute;
    left: 5px;
    bottom: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: @bg-green;
  }
}

.programs__title--slim::after {
  content: "";
  position: absolute;
  left: 12px;
  bottom: 0;
  width: 50px;
  height: 50px;
  background: url("../img/icon-cat-slim.svg") no-repeat;
}

.programs__title--pro::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -20px;
  width: 65px;
  height: 60px;
  background: url("../img/icon-cat-pro.svg") no-repeat;
}

.programs__description {
  padding-right: 20px;
  padding-bottom: 25px;
  border-bottom: @b-light;
  font: 500 14px/18px @font-arial;
  text-align: left;
  color: @grey;
}

.programs__link {
  position: relative;
  padding-right: 50px;
  text-transform: uppercase;
  text-decoration: none;
  color: @black;
  background-color: @bg-grey;

  &::after {
    content: "";
    position: absolute;
    top: 0.45em;
    left: 103px;
    width: 25px;
    height: 11px;
    background: url("../img/icon-right-arrow-verylong.svg") no-repeat right center;
    background-size: 32px 11px;
    transition: 0.6s ease-in-out;
  }

  &:hover::after {
    width: 32px;
  }

  &:active {
    opacity: 0.3;
  }
}
