.slider {
  background-color: @bg-light;
  overflow: hidden;
}

.slider__container {
  padding-bottom: 38px;
}

.slider__toggles {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 16px;
}

.slider__toggle {
  cursor: pointer;
}

.slider__scale {
  position: relative;
  width: 85px;
  height: 12px;
  border: @b-light;
  border-radius: 8px;
  background-color: @bg-white;
}

.slider__button {
  position: absolute;
  top: 3px;
  left: 5px;
  width: 36px;
  height: 6px;
  border-radius: 5px;
  background: @bg-green;
  outline: none;
  border: none;
  transition: left 0.5s ease-out;
}

.slider__items {
  width: 320px;
  margin: 0 auto;
}

.slider__item {
  margin: 0;
  margin-bottom: 38px;

  &--after {
    display: none;
  }
}

.slider__image {
  width: 320px;
  height: 240px;
}

@media (max-width: @width-mobile-only) {
  .slider__switcher {
    &--before:checked ~ .slider__container .slider__item--before,
    &--after:checked ~ .slider__container .slider__item--after {
      display: block;
    }

    &--before:checked ~ .slider__container .slider__item--after,
    &--after:checked ~ .slider__container .slider__item--before {
      display: none;
    }

    &--before:checked ~ .slider__container .slider__button {
      right: 50%;
    }

    &--after:checked ~ .slider__container .slider__button {
      left: 50%;
    }
  }
}

@media (min-width: @width-tablet) {
  .slider {
    background: linear-gradient(to bottom, @bg-white 27%, transparent 10%, transparent 100%), linear-gradient(to right, @bg-light 50%, @bg-lightgrey 50%, @bg-lightgrey 100%);
    padding-bottom: 0;
  }

  .slider__container {
    width: 690px;
    min-height: 640px;
    padding: 0;
  }

  .slider__items {
    position: relative;
    width: 100%;
    height: 520px;
    margin-bottom: 17px;
    background: none;
  }

  .slider__item {
    position: absolute;
    top: 10px;
    left: 46.2%;
    margin-left: -320px;

    &--before {
      clip: rect(0, 345px, auto, 0);
    }

    &--after {
      display: block;
      clip: rect(0, auto, auto, 345px);
    }
  }

  .slider__image {
    width: 690px;
    height: 517px;
    margin-left: 6px;
  }

  .slider__toggles {
    width: 570px;
    margin: auto;
    font-size: 20px;
  }

  .slider__toggle {
    padding: 7px 0 6px;
    border-bottom: @b-lightgrey-dotted;

    &:first-child {
      margin-right: 5px;
    }

    &:last-child {
      margin-left: 5px;
    }

    &:hover {
      border-bottom: @b-lightgrey;
    }

    &:active {
      border-bottom-color: transparent;
    }
  }

  .slider__scale {
    width: 426px;
    height: 6px;
    border: 0;
    border-radius: 2.5px;
    background-color: @bg-gainsboro;
  }

  .slider__button {
    top: -12px;
    left: 50%;
    width: 35px;
    height: 35px;
    padding: 0;
    margin: 0;
    border: @b-grey;
    border-radius: 50%;
    background: radial-gradient(@bg-green 18%, @bg-white 20%, @bg-white 100%);
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2);
    outline: none;
    transform: translateX(-50%);
    transition: none;
    cursor: move;

    &:hover {
      box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.3);
    }

    &:active,
    &:focus {
      border: @b-green-wide;
      box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.5);
    }
  }

  .slider__switcher {
    &--before:checked ~ .slider__container .slider__item--after {
      clip: rect(0, auto, auto, 690px);
    }

    &--before:checked ~ .slider__container .slider__item--before {
      clip: rect(auto, 690px, auto, 0);
    }

    &--before:checked ~ .slider__container .slider__button {
      left: 0%;
    }

    &--after:checked ~ .slider__container .slider__item--before {
      clip: rect(0, 0, auto, 0);
    }

    &--after:checked ~ .slider__container .slider__item--after {
      clip: rect(0, auto, auto, 0);
    }

    &--after:checked ~ .slider__container .slider__button {
      left: 100%;
    }
  }
}

@media (min-width: @width-desktop) {
  .slider {
    max-width: 690px;
    margin-top: -65px;
    padding-right: 5px;
    padding-left: 103px;
    background: linear-gradient(to bottom, @bg-white 30.7%, transparent 30.7%, transparent 100%), linear-gradient(to right, @bg-light 60%, @bg-lightgrey 60%, @bg-lightgrey 100%);
  }

  .slider__container {
    min-height: 660px;
  }

  .slider__items {
    margin-bottom: 35px;
  }

  .slider__item {
    position: absolute;
    top: 8px;
    left: 45%;
    margin-left: -320px;
  }

  .slider__image {
    margin: 0;

    &:last-child {
      margin-left: -12px;
    }
  }

  .slider__toggles {
    margin-right: 65px;
  }
}
