.title {
  width: 280px;
  padding-top: 25px;
  font: normal 36px/36px @font-oswald;
  text-align: left;
  color: @black;
}

.title__additional {
  width: 280px;
  font: normal 14px/18px @font-oswald;
  text-align: left;
  text-transform: uppercase;
  color: @black;
}
