//font-family
@font-oswald: "Oswald", "Arial", sans-serif;
@font-arial: "Arial", sans-serif;

//size of screen
@width-mobile: 320px;
@width-mobile-only: 767px;
@width-tablet: 768px;
@width-desktop: 1300px;

//retina
@retina-dpi: 144dpi;
@retina-dppx: 1.5dppx;

//font-color
@white: #ffffff;
@light: #f2f2f2;
@lightgrey: #b9b9b9;
@grey: #444444;
@lightgreen: #90c56e;
@darkbrown: #222222;
@black: #111111;

//background-color
@bg-white: #ffffff;
@bg-light: #f2f2f2;
@bg-lightgrey: #eaeaea;
@bg-grey: #ebebeb;
@bg-gainsboro: #dcdcdc;
@bg-darkgrey: #666666;
@bg-lightgreen: #63a73a;
@bg-green: #68b738;
@bg-darkgreen: #5eaa2f;
@bg-pink: #ff8282;
@bg-black: #111111;

//border
@b-white: 2px solid #ffffff;
@b-light: 1px solid #e6e6e6;
@b-lightgrey: 1px solid #999999;
@b-lightgrey-dotted: 1px dotted #bebebe;
@b-grey: 1px solid #cdcdcd;
@b-darkbrown: 2px solid #222222;
@b-green: 2px solid #68b738;
@b-pink: 2px solid #ff8282;
